:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #f68b2e;
    --color-secondary: #619500a8;
    --color-dark: #b9a51d3a;
    --color-bg: #000000;

    /* Fonts */
    --font-roboto: "Roboto";
}